<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-iosjsplugin" version="0.0.2" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>iOSJSPlugin</name><js-module name="iOSJSPlugin" src="www/iOSJSPlugin.js"><clobbers target="cordova.plugins.iOSJSPlugin" /></js-module><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="iOSJSPlugin"><param name="ios-package" value="iOSJSPlugin" /></feature></config-file><source-file src="src/ios/iOSJSPlugin.m" /></platform></plugin>
